<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="etiquetas" href="/home/etiquetas">
      <ion-icon aria-hidden="true" name="print-outline"></ion-icon>
      <ion-label>Etiquetas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="escanear" href="/home/escanear">
      <ion-icon aria-hidden="true" name="camera-outline"></ion-icon>
      <ion-label>Escanear</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos" href="/home/productos">
      <ion-icon aria-hidden="true" name="cube-outline"></ion-icon>
      <ion-label>Productos

      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>