<ion-content class="ion-padding-top">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Desliza para actualizar">
    </ion-refresher-content>
  </ion-refresher>
  <ion-title>Etiquetas</ion-title>
  <div class="">
    <ion-button [routerLink]="['/home/congelados/descongelar']">
      <ion-label>Descongelacion

      </ion-label>
    </ion-button>
    <ion-button [routerLink]="['/home/congelados/tupper']">
      <ion-label>Tupper

      </ion-label>
    </ion-button>
    <ion-button [routerLink]="['/home/congelados/mesa']">
      <ion-label>Mesa

      </ion-label>
    </ion-button>
  </div>
</ion-content>