<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingText="Desliza para actualizar" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="handleInput($event)"><ion-badge>{{data?.length}}</ion-badge></ion-searchbar>

  <ion-list>
    @if(!results){
    <ion-item>
      <ion-skeleton-text [animated]="true" style="width: 100vw"></ion-skeleton-text>
    </ion-item>
    }

    @for (result of results; track result) {


    <ion-item [button]="true" (click)="handlebutton(result.producto, result.categoria)">
      <div class=" unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-label>
        <strong>{{ result.producto }}</strong>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">{{result.categoria}}</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
    }
  </ion-list>

</ion-content>