<ion-content class="ion-padding-top">
  <div class="flex justify-around p-2">
    <h1 class="text-center font-bold text-4xl">Descongelacion</h1>
    <ion-button id="open-desc-modal" expand="block" [disabled]="!this.product" (click)="generatePreview()">
      <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-select class="ion-padding" [(ngModel)]="product" (ngModelChange)="newDescongelado()" label="Producto"
    placeholder="Selecciona un producto" helperText="Selecciona un producto congelado"
    errorText="Este campo es obligatorio">
    @for (result of results; track $index) {
    <ion-select-option value="{{result.PRODUCTO}}">{{result.PRODUCTO}}</ion-select-option>
    }
  </ion-select>

  <ion-modal [backdropDismiss]="true" [isOpen]="false" trigger="open-desc-modal" [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.6]">
    <ng-template>
      <div>
        <ion-img src="{{img}}" alt="Vista previa de descongelación"></ion-img>
      </div>

    </ng-template>
  </ion-modal>

  <div class="flex w-full justify-center">
    <p class="font-bold">Fecha de caducidad</p>
  </div>

  <ion-picker>
    <ion-picker-column (ionChange)="dayChange($event)" [value]="date.getDate()">
      <ion-picker-column-option value="" disabled="true">Día</ion-picker-column-option>
      @for (day of days; track $index) {
      <ion-picker-column-option [value]="day">{{ day }}</ion-picker-column-option>
      }
    </ion-picker-column>

    <ion-picker-column (ionChange)="monthChange($event)" [value]="date.getMonth() + 1">
      <ion-picker-column-option value="" disabled="true">Mes</ion-picker-column-option>
      @for (month of months; track $index) {
      <ion-picker-column-option [value]="month.value">{{ month.value }}</ion-picker-column-option>
      }
    </ion-picker-column>

    <ion-picker-column (ionChange)="yearChange($event)" [value]="date.getFullYear()">
      <ion-picker-column-option value="" disabled="true">Año</ion-picker-column-option>
      @for (year of years; track $index) {
      <ion-picker-column-option [value]="year">{{ year }}</ion-picker-column-option>
      }
    </ion-picker-column>
  </ion-picker>

  <div class="flex flex-col items-center gap-4 p-4 rounded-lg shadow-md mt-10">
    <div class="flex items-center gap-4 text-lg">
      <ion-button (click)="qt = qt > 1 ? qt - 1 : qt">
        <ion-icon name="remove-outline" />
      </ion-button>
      <ion-text>{{qt}}</ion-text>
      <ion-button (click)="qt = qt < 10 ? qt + 1 : qt">
        <ion-icon name="add-outline" />
      </ion-button>
    </div>
  </div>

  <ion-button id="printAlert" (click)="goPrint()" class="ion-padding" expand="full" [disabled]="!this.product">
    Imprimir
  </ion-button>

  <ion-toast trigger="printAlert" [duration]="3000" position="bottom" message="¡Se ha enviado a imprimir!">
  </ion-toast>
</ion-content>